@tailwind base;
@tailwind components;
@tailwind utilities;

/* Global resets & defaults */
@layer base {
  html, body {
    @apply bg-white text-gray-800 font-sans antialiased scroll-smooth;
  }
  h1, h2, h3, h4, h5, h6 {
    @apply font-semibold text-gray-900;
  }
  p {
    @apply text-gray-600;
  }
}
